@import url('https://fonts.cdnfonts.com/css/futura-pt');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Futura PT', sans-serif;
}
.login-page{
    margin: 0;
    background: linear-gradient(300deg, rgba(48,40,184,1) 0%, rgba(0,213,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-container{
    height: 85vh;
    max-width: 90vw; 
    border-radius: 20px;
    background-image: url("assets/background.svg");
    background-size: cover;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

#left{
    width: 70%;
    height: 100%;
    /* background-color: rgba(137, 43, 226, 0.238); */
    transform: translateX(0%);
    transition: ease-out 1s;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#greetings {
    padding-top: 20vh;
    font-size: 5rem;
    font-weight: 100;
}

#quote {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.3vw;
    padding: 5%;
}

#right{
    width: 30%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: ease-out 1s;
    display: flex;
    flex-direction: column;
    padding-top:20vh;
    align-items: center;
}

.sub-header {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 2vh;
}

.uname {
    height: 15%;
    width: 100%;
    border-radius: 20px;
    margin-top: 3vh;
    margin-inline: auto;
    display: flex;
    text-align: center;
    font-family: 'Futura PT', sans-serif;
    font-size: 1.5vw;
    border: 2.5px solid grey;
}

.pass {
    height: 15%;
    width: 100%;
    border-radius: 20px;
    margin-top: 1vw;
    margin-inline: auto;
    display: flex;
    text-align: center;
    font-family: 'Futura PT', sans-serif;
    font-size: 1.5vw;
    border: 2.5px solid grey;
}


.submitButton {
    font-family: 'Futura PT', sans-serif;
    border-radius: 0.7vw;
    margin-top: 2vw;
    height: 2.5vw;
    margin-inline: auto;
    text-align: center;
    display: block;
    border: none;
    width: 10vw;
    font-size: 1.5rem;
    background-color: #AF6B58;
    color: white;
    cursor: pointer;
}

.submitButton:hover {
    color: black;
    background-color: whitesmoke;
}

.divider {
    margin-inline: auto;
    margin-top: 2vw;
    width: 15vw;
    height: 2px;
    background-color: grey;
}

#changingButton {
    transform: translateY(5vh);
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(48,40,184,1), rgba(0,213,255,1));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size .3s;
}

.error{
    font-weight: 200;
    font-size: 1.4vw;
    color : red;
    text-align: center;
}

.success{
    font-weight: 200;
    font-size: 1.4vw;
    color : green;
    text-align: center;
}

#changingButton:hover {
    background-size: 100% 2px;
}

@media screen and (min-width: 1200px){
    html{
        font-size: 16px;
    }
  }
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    html{
        font-size: 14px;
    }
  }
@media screen and (min-width: 800px) and (max-width: 1000px) {
    html{
        font-size: 12px;
    }
  }
@media screen and (min-width: 600px) and (max-width: 800px) {
    html{
        font-size: 10px;
    }
  }
@media screen and (min-width: 400px) and (max-width: 600px) {
    html{
        font-size: 8px;
    }
  }
@media screen and (max-width: 400px) {
    html{
        font-size: 6px;
    }
  }