@import url('https://fonts.cdnfonts.com/css/futura-pt');

* {
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', sans-serif;
    cursor: default;
}

.material-symbols-outlined {
    scale: 1.5;
}

#main-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.navbar {
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #AF6B58;
    width: 4vw;
    transition: width 0.7s;
    overflow-x: hidden;
    z-index: 2;
}

.navbarAppear{
    width: 13vw;
}

.navbar:hover {
    width: 13vw; 
}

.navbarList {
    list-style-type: none;
    width: 70%;
}

.navicons {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 30%;
    justify-content: center;
    gap: 40px;
}

.navicon {
    text-decoration: none;
    transition: 0.5s;
    padding-left: 25%;
    opacity: 0.5;
}

.navicon a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.navbar:hover .navicon {
    padding-left: 15%;
}

.navicon:hover {
    opacity: 1;
    scale: 1.1;
    background-color: rgba(18, 18, 18, 20%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbarText {
    font-size: 0;
    transition: 0.7s;
}

.navbarTextAppear{
    padding-left: 20px;
    font-size: 1.3rem;
}

.homeButton {
    width: 2rem;
}

.todoListButton {
    width: 2rem;
}

/* hover */
.navbar:hover .navbarText {
    padding-left: 20px;
    font-size: 1.3rem;
}

.right {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EFEA;
    width: 96vw;
    height: 100vh;
}

.main {
    display: flex;
    width: 80%;
    height: 80%;
}

.todoList {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #CBBCB1;
    height: 100%;
    width: 59%;
}

#todoPreview{
    margin-top: 1vh;
    width: 80%;
    height: 85%;
    background-color: #ede5df;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.todoList p {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    width: 40%;
    margin-left: 1%;
}

.userProfile {
    background-color: #CBBCB1;
    border-radius: 30px;
    align-items: center;
    width: 100%;
    height: 48.5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.userProfile p {
    font-size: 1.8rem;
    padding-top: 5%;
    color: white;
}

.profile {
    height: 50%;
    width: 100%;
    display: flex;
    border-radius: 50%;
}

.pfp {
    border-radius: 50%;
    margin-left: 5%;
}

.user {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    background-image: linear-gradient(90deg, #556052, #AF6B58);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 2px;
    transition: background-size 0.5s;
}

.username:hover {
    background-size: 100% 2px;
}

.user p {
    font-size: 1.3rem;
}

.eventComing {
    margin-top: 3%;
    background-color: #CBBCB1;
    border-radius: 30px;
    justify-content: center;
    width: 100%;
    height: 48.5%;
    display: flex;
}

.eventComing p {
    font-size: 1.8rem;
    padding-top: 5%;
    color: white;
}

#todo{
    display: flex;
    height: 100vh;
    width: 100%;
}

#todoPage {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EFEA;
    width: 96vw;
    height: 100vh;
}

#todoTitles{
    width: 25%;
    height: 80%;
    background-color: #CBBCB1;
    border-radius: 20px;
}

.inputForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#txt3 {
    width: 10vw;
    height: 5vh;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1rem;
    color: #556052;
}

.deleteButton {
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1rem;
    color: #556052;
}

.deleteButton a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #556052;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
} 

#todoDescription{
    width: 60%;
    height: 80%;
    background-color: #CBBCB1;
    border-radius: 20px;
    margin-left: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#todoTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todoTitles h2 {
    margin-top: 2vh;
}

#todoContainer{
    margin-top: 1vh;
    width: 80%;
    height: 75%;
    background-color: #ede5df;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 2.5%;
}


#listContainer{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

#listContainer::-webkit-scrollbar {
    width: 10px;
}

#listContainer::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#listContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(54, 17, 17);
}

.todoTitle{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 6vh;
    background-color: #CBBCB1;
    border-radius: 10px;
    margin-bottom: 1vh;
    padding: 3px 20px;
    font-size: 1.6rem;
    cursor: pointer;
}

.plus{
    padding: 10px;
    border-radius: 30%;
    background-color: rgba(73, 37, 0, 0.093);
    cursor: pointer;
}

.plus span {
    color: white;
    cursor: pointer;
}

textarea{
    padding: 20px;
    background-color: #ede5df;
    resize: none;
    outline: none;
    border: none;
    border-radius: 10px;
}

#txt1{
    width: 90%;
    font-size: 2rem;
    cursor: text;
    /* display : none; */
}

#txt2{
    width: 90%;
    height: 60%;
    font-size: 1.5rem;
    /* display : none; */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.wrapper{
    width: 50vw;
    background-color: #F2EFEA;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons{
    display: flex;
}

header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child{
    margin-right: -10px;
}

header .icons span:hover{
    background: #f2f2f2;
}

header .current-date{
    font-size: 1.5rem;
    font-weight: 500;
}

.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days{
    margin-bottom: 20px;
}

.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.2rem;
}

.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
}

.days li.inactive{
    color: #aaa;
}

.days li.active{
    color: #fff;
}

.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before{
    background: #8812b6;
}

.days li:not(.active):hover::before{
    background: #f2f2f2;
}

.note{
    width : 20vw;
    height : 40vh;
    border : 1px solid black;
    border-radius: 10px;
    position : absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    text-align: center;
}

li a{
    text-decoration: none;
    color : black;
    cursor :pointer;
    width: 100%;
    height: 100%;
}

#note-close{
    width:100%;
    height:5%;
    color: white;
    text-align: center;
    display: inline-block;
}

.note-text{
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    font-size: 1.2rem;
    color: wheat;
}

.note-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

}
.exist{
    color:blue;
}

.a{
    width: 7vw;
    height: 3.5vh;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1rem;
    color: #556052;
    display : flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}