body{
    margin: 0;
}
.login-page{
    margin: 0;
    background: linear-gradient(300deg, rgba(48,40,184,1) 0%, rgba(0,213,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-container{
    height: 38rem;
    width: 86rem;
    border-radius: 20px;
    background-image: url("assets/background.svg");
    background-size: cover;
    /* overflow-x: hidden; */
    display: flex;
}
.register{
    width: 0px;
    height: 100%;
    background: white;

}
.center{
    width: 75rem;
    height: 100%;
}
.login{
    width: 25rem;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
}