@import url('https://fonts.cdnfonts.com/css/futura-pt');

body{
    margin: 0;
    font-family: 'Futura PT', sans-serif;
}
.login-page{
    margin: 0;
    background: linear-gradient(300deg, rgba(48,40,184,1) 0%, rgba(0,213,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-container{
    height: 38vw;
    width: 86vw;
    border-radius: 2vw;
    background-image: url("assets/background.svg");
    background-size: cover;
    /* overflow-x: hidden; */
    display: flex;
}
.register{
    width: 0px;
    height: 100%;
    background: white;

}
.center{
    width: 75vw;
    height: 100%;
}
.login{
    width: 25vw;
    height: 100%;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background: white;
                                                
}

.login > p {
    padding-top: 8vw;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 3vw;
}

.center .p1 {
    font-weight: 100;
    font-size: 6vw;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 8vw;
}

.center .p2 {
    font-weight: 100;
    font-size: 2vw;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 2vw;
    letter-spacing: 0.5vw;
}

.login > form .uname {
    border-radius: 2vw;
    margin-top: 3vw;
    margin-inline: auto;
    display: flex;
    text-align: center;
    font-family: 'Futura PT', sans-serif;
    font-size: 1.5vw;
}

.login > form .pass {
    border-radius: 2vw;
    margin-top: 1vw;
    margin-inline: auto;
    display: flex;
    text-align: center;
    font-family: 'Futura PT', sans-serif;
    font-size: 1.5vw;
}

.login > form .submitButton {
    font-family: 'Futura PT', sans-serif;
    border-radius: 0.7vw;
    margin-top: 4vw;
    height: 2.5vw;
    margin-inline: auto;
    text-align: center;
    display: block;
    border: none;
    width: 10vw;
    font-size: 1.5vw;
    background-color: #AF6B58;
    color: white;
}

.login > form .submitButton:hover {
    color: black;
    background-color: whitesmoke;
}