@import url('https://fonts.cdnfonts.com/css/futura-pt');

body{
    margin: 0;
    font-family: 'Futura PT', sans-serif;
}
.login-page{
    margin: 0;
    background: linear-gradient(300deg, rgba(48,40,184,1) 0%, rgba(0,213,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-container{
    height: 38rem;
    width: 86rem;
    border-radius: 20px;
    background-image: url("assets/background.svg");
    background-size: cover;
    /* overflow-x: hidden; */
    display: flex;
}
.register{
    width: 0px;
    height: 100%;
    background: white;

}
.center{
    width: 75rem;
    height: 100%;
}
.login{
    width: 25rem;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
                                                
}

.login > p {
    padding-top: 8rem;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.center .p1 {
    font-weight: 100;
    font-size: 6rem;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 8rem;
}

.center .p2 {
    font-weight: 100;
    font-size: 2rem;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 5px;
}